<div class="container m-4">
  <p style="color: green"><%= notice %></p>
  
  <%= render @flat %>
  
  <div style="display: flex;">
    <%= link_to "Edit this flat", edit_flat_path(@flat), class: "btn" %>
    <%= link_to "Back to flats", flats_path, class: "btn" %>
    <%= button_to "Destroy this flat", @flat, method: :delete, class: "btn" %>
  </div>
</div>
